<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />

		<title>Dayman/Nightman</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<!-- use two input type submits with heads or tails values -->

		<div class="container">
			<h1>
				<button id="heads" type="button" value="HEADS">DAYMAN</button>
				OR
				<button id="tails" type="button" value="TAILS">NIGHTMAN</button>
			</h1>

			<div id="coin">
				<div id="headChoice" class="side-a">
					<img src="img/dayman.png" alt="dayman" />
				</div>
				<div id="tailChoice" class="side-b">
					<img src="img/nightman.png" alt="nightman" />
				</div>
			</div>
		</div>

		<script src="main.js"></script>
	</body>
</html>
